[submodule "tests/tuf-test-vectors"]
	path = tests/tuf-test-vectors
	url = https://github.com/advancedtelematic/tuf-test-vectors/
[submodule "partial/extern/uds-c"]
	path = partial/extern/uds-c
	url = git@github.com:advancedtelematic/uds-c.git
